services:
  traefik:
    labels:
      - traefik.http.middlewares.hsts.headers.stsSeconds=31536000
      - traefik.http.middlewares.hsts.headers.stsIncludeSubdomains=true
      - traefik.http.middlewares.hsts.headers.stsPreload=true
      - traefik.http.middlewares.hsts.headers.forceSTSHeader=true

      # https://estructuraest.com -> https://estructura-est.com
      - traefik.http.middlewares.to-hyphen.redirectregex.regex=^https?://estructuraest\.com(.*)
      - traefik.http.middlewares.to-hyphen.redirectregex.replacement=https://estructura-est.com$$1
      - traefik.http.middlewares.to-hyphen.redirectregex.permanent=true
      - traefik.http.routers.r-https-nohyphen.rule=Host(`estructuraest.com`)
      - traefik.http.routers.r-https-nohyphen.entrypoints=https
      - traefik.http.routers.r-https-nohyphen.middlewares=hsts,to-hyphen
      - traefik.http.routers.r-https-nohyphen.service=noop@internal
      - traefik.http.routers.r-https-nohyphen.tls.certresolver=le
      - traefik.http.routers.r-https-nohyphen.priority=100
      - traefik.http.routers.r-http-nohyphen.rule=Host(`estructuraest.com`)
      - traefik.http.routers.r-http-nohyphen.entrypoints=http
      - traefik.http.routers.r-http-nohyphen.middlewares=to-hyphen
      - traefik.http.routers.r-http-nohyphen.service=noop@internal
      - traefik.http.routers.r-http-nohyphen.priority=100

      # https://estructura-est.com -> https://www.estructura-est.com
      - traefik.http.middlewares.to-www.redirectregex.regex=^https?://estructura-est\.com(.*)
      - traefik.http.middlewares.to-www.redirectregex.replacement=https://www.estructura-est.com$$1
      - traefik.http.middlewares.to-www.redirectregex.permanent=true
      - traefik.http.routers.r-https-hyphen.rule=Host(`estructura-est.com`)
      - traefik.http.routers.r-https-hyphen.entrypoints=https
      - traefik.http.routers.r-https-hyphen.middlewares=hsts,to-www
      - traefik.http.routers.r-https-hyphen.service=noop@internal
      - traefik.http.routers.r-https-hyphen.tls.certresolver=le
      - traefik.http.routers.r-https-hyphen.priority=100
      - traefik.http.routers.r-http-hyphen.rule=Host(`estructura-est.com`)
      - traefik.http.routers.r-http-hyphen.entrypoints=http
      - traefik.http.routers.r-http-hyphen.middlewares=to-www
      - traefik.http.routers.r-http-hyphen.service=noop@internal
      - traefik.http.routers.r-http-hyphen.priority=100

      # https://www.estructuraest.com -> https://www.estructura-est.com
      - traefik.http.middlewares.www-nohyphen-to-www-hyphen.redirectregex.regex=^https?://www\.estructuraest\.com(.*)
      - traefik.http.middlewares.www-nohyphen-to-www-hyphen.redirectregex.replacement=https://www.estructura-est.com$$1
      - traefik.http.middlewares.www-nohyphen-to-www-hyphen.redirectregex.permanent=true
      - traefik.http.routers.r-https-www-nohyphen.rule=Host(`www.estructuraest.com`)
      - traefik.http.routers.r-https-www-nohyphen.entrypoints=https
      - traefik.http.routers.r-https-www-nohyphen.middlewares=hsts,www-nohyphen-to-www-hyphen
      - traefik.http.routers.r-https-www-nohyphen.service=noop@internal
      - traefik.http.routers.r-https-www-nohyphen.tls.certresolver=le
      - traefik.http.routers.r-https-www-nohyphen.priority=100
      - traefik.http.routers.r-http-www-nohyphen.rule=Host(`www.estructuraest.com`)
      - traefik.http.routers.r-http-www-nohyphen.entrypoints=http
      - traefik.http.routers.r-http-www-nohyphen.middlewares=www-nohyphen-to-www-hyphen
      - traefik.http.routers.r-http-www-nohyphen.service=noop@internal
      - traefik.http.routers.r-http-www-nohyphen.priority=100
